@media(min-width: 768px)and(max-width: 1024px) {
    .columns-2,.columns-3,.columns-4{ column-gap: 24px;}
    .columns-2{ column-count: 2;}
    .columns-3{ column-count: 3;}
    .columns-4{ column-count: 4;}
}
.ao-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
@media(max-width: 768px){
    .ao-row{
      flex-direction: column;
      flex-wrap: nowrap;
    } 
}
.ao-row.ao-gutters,.ao-row.ao-gutters > .ao-row { margin-left: -2%;}
@media(max-width: 768px){
    .ao-row.ao-gutters,.ao-row.ao-gutters > .ao-row{ margin-left: 0; }
}
.ao-row.ao-gutters > .ao-col,.ao-row.ao-gutters > .ao-row > .ao-col{ margin-left: 2%;}
@media (max-width: 768px) {
    .ao-row.ao-gutters > .ao-col,.ao-row.ao-gutters > .ao-row > .ao-col{ margin-left: 0;}
}
.ao-row.around{ justify-content: space-around;}
.ao-row.between{ justify-content: space-between;}
.ao-row.auto .ao-col{ flex-grow: 1;}
.ao-col-1{ width: 8.33333%;}
.ao-offset-1{ margin-left: 8.33333%;}
.ao-col-2{ width: 16.66667%;}
.ao-offset-2 { margin-left: 16.66667%; }
.ao-col-3 { width: 25%; }
.ao-offset-3 { margin-left: 25%; }
.ao-col-4 { width: 33.33333%; }
.ao-offset-4 { margin-left: 33.33333%; }
.ao-col-5 { width: 41.66667%; }
.ao-offset-5 { margin-left: 41.66667%; }
.ao-col-6 { width: 50%; }
.ao-offset-6 { margin-left: 50%; }
.ao-col-7 { width: 58.33333%; }
.ao-offset-7 { margin-left: 58.33333%; }
.ao-col-8 { width: 66.66667%; }
.ao-offset-8 { margin-left: 66.66667%; }
.ao-col-9 { width: 75%; }
.ao-offset-9 { margin-left: 75%; }
.ao-col-10 { width: 83.33333%; }
.ao-offset-10 { margin-left: 83.33333%; }
.ao-col-11 { width: 91.66667%; }
.ao-offset-11 { margin-left: 91.66667%; }
.ao-col-12 { width: 100%; }
.ao-offset-12 { margin-left: 100%; }
.ao-gutters > .ao-col-1 { width: calc(8.33333% - 2%); }
.ao-gutters > .ao-offset-1 { margin-left: calc(8.33333% + 2%) !important; }
.ao-gutters > .ao-col-2 { width: calc(16.66667% - 2%); }
.ao-gutters > .ao-offset-2 { margin-left: calc(16.66667% + 2%) !important; }
.ao-gutters > .ao-col-3 { width: calc(25% - 2%); }
.ao-gutters > .ao-offset-3 { margin-left: calc(25% + 2%) !important; }
.ao-gutters > .ao-col-4 { width: calc(33.33333% - 2%); }
.ao-gutters > .ao-offset-4 { margin-left: calc(33.33333% + 2%) !important; }
.ao-gutters > .ao-col-5 { width: calc(41.66667% - 2%); }
.ao-gutters > .ao-offset-5 { margin-left: calc(41.66667% + 2%) !important; }
.ao-gutters > .ao-col-6 { width: calc(50% - 2%); }
.ao-gutters > .ao-offset-6 { margin-left: calc(50% + 2%) !important; }
.ao-gutters > .ao-col-7 { width: calc(58.33333% - 2%); }
.ao-gutters > .ao-offset-7 { margin-left: calc(58.33333% + 2%) !important; }
.ao-gutters > .ao-col-8 { width: calc(66.66667% - 2%); }
.ao-gutters > .ao-offset-8 { margin-left: calc(66.66667% + 2%) !important; }
.ao-gutters > .ao-col-9 { width: calc(75% - 2%); }
.ao-gutters > .ao-offset-9 { margin-left: calc(75% + 2%) !important; }
.ao-gutters > .ao-col-10 { width: calc(83.33333% - 2%); }
.ao-gutters > .ao-offset-10 { margin-left: calc(83.33333% + 2%) !important; }
.ao-gutters > .ao-col-11 { width: calc(91.66667% - 2%); }
.ao-gutters > .ao-offset-11 { margin-left: calc(91.66667% + 2%) !important; }
.ao-gutters > .ao-col-12 { width: calc(100% - 2%); }
.ao-gutters > .ao-offset-12 { margin-left: calc(100% + 2%) !important; }
@media (max-width: 768px) {
    [class^='ao-offset-'],
    [class*=' ao-offset-']{
        margin-left: 0;
    }
}
.first { order: -1;}
.last { order: 1;}
@media (max-width: 768px) {
    .ao-row .ao-col{
        margin-left: 0;
        width: 100%;
    }
    .ao-row.ao-gutters .ao-col{ margin-bottom: 16px;}
    .first-sm { order: -1;}
    .last-sm{ order: 1;}
}
.ao-gutters .column.push-left,.push-left{ margin-right: auto;}
.ao-gutters .column.push-right,.push-right{ margin-left: auto;}
.ao-gutters .column.push-center,.push-center{
  margin-left: auto;
  margin-right: auto;
}
.ao-gutters .column.push-middle,.push-middle{
  margin-top: auto;
  margin-bottom: auto;
}
.push-bottom{ margin-top: auto;}

@media (max-width: 768px) {
    .ao-gutters .column.push-left-sm,.push-left-sm{ margin-left: 0;}
    .ao-gutters .column.push-center-sm,.push-center-sm{
        margin-left: auto;
        margin-right: auto;
    }
    .push-top-sm{ margin-top: 0;}
}
.align-middle { align-items: center;}
.align-right { justify-content: flex-end;}
.align-center { justify-content: center;}